In [43]:
from selenium import webdriver
from bs4 import BeautifulSoup
from urllib.request import urlopen, Request
import re
import pickle
import pandas as pd

In [18]:
all_sports_headings = []

In [31]:
for i in range(401,869):
    url = 'http://sambad.in/sports/page/' + str(i) + '/'
    req = Request(url, headers={'User-Agent': 'Mozilla/5.0'})
    html_doc = ''
    with urlopen(req) as response:
        for line in response:
            line = line.decode('utf-8')
            html_doc = html_doc + line.replace('\n','')
    soup = BeautifulSoup(html_doc, 'html.parser')
    articles = soup.find_all('article')
    for article in articles:
        all_sports_headings.append(article.find('h2').text)
    if i%100 == 0:
        print(len(set(all_sports_headings)))

4995
5994
6987
7981

In [32]:
all_sports_headings = list(set(all_sports_headings))

In [33]:
len(all_sports_headings)

8650

In [23]:
all_business_headings = []

In [24]:
for i in range(1,583):
    url = 'http://sambad.in/business/page/' + str(i) + '/'
    req = Request(url, headers={'User-Agent': 'Mozilla/5.0'})
    html_doc = ''
    with urlopen(req) as response:
        for line in response:
            line = line.decode('utf-8')
            html_doc = html_doc + line.replace('\n','')
    soup = BeautifulSoup(html_doc, 'html.parser')
    articles = soup.find_all('article')
    for article in articles:
        all_business_headings.append(article.find('h2').text)
    if i%100 == 0:
        print(len(set(all_business_headings)))

985
1982
2977
3973
4968

In [25]:
all_business_headings = list(set(all_business_headings))

In [26]:
len(all_business_headings)

5779

In [27]:
all_entertainment_headings = []

In [28]:
for i in range(1,382):
    url = 'http://sambad.in/entertainment/page/' + str(i) + '/'
    req = Request(url, headers={'User-Agent': 'Mozilla/5.0'})
    html_doc = ''
    with urlopen(req) as response:
        for line in response:
            line = line.decode('utf-8')
            html_doc = html_doc + line.replace('\n','')
    soup = BeautifulSoup(html_doc, 'html.parser')
    articles = soup.find_all('article')
    for article in articles:
        all_entertainment_headings.append(article.find('h2').text)
    if i%100 == 0:
        print(len(set(all_entertainment_headings)))

1203
2403
3601

In [29]:
all_entertainment_headings = list(set(all_entertainment_headings))

In [30]:
len(all_entertainment_headings)

4572

In [39]:
all_headings = all_entertainment_headings + all_business_headings + all_sports_headings

In [40]:
len(all_headings)

19001

In [41]:
all_labels = ['entertainment']*len(all_entertainment_headings) + ['business']*len(all_business_headings) + ['sports']*len(all_sports_headings)

In [44]:
df = pd.DataFrame({'headings':all_headings, 'label':all_labels})

In [45]:
df.shape

(19001, 2)

In [46]:
df.head()

                                            headings          label
0   ଚାରିବର୍ଷ ପରେ ରିତିକ୍‌ଙ୍କ ସହ କାଟ୍ରିନା କରିବେ ବ୍ୟ...  entertainment
1   ନୂଆ ନାୟକଙ୍କର ଓଲିଉଡର ଜଣାଶୁଣା ନାୟିକାଙ୍କ ସହ ଅନ୍‌...  entertainment
2   ଟାଇଗର ଶ୍ରଫ୍‌ଙ୍କ ଦୁଇ କିଶୋର ଫ୍ୟାନ୍‌ କଲେ ଏଭଳି ବି...  entertainment
3   ‘ହମ୍‌ ଆପକେ ହୈ କୌନ୍‌’ ରିମେକରେ ବରୁଣ ଓ ଆଲିଆ ନାୟକ...  entertainment
4   ଶ୍ରୀଦେବୀଙ୍କ ପରେ ଜାହ୍ନବୀଙ୍କର ମା’ପରି ଧ୍ୟାନ ରଖୁଛ...  entertainment

In [47]:
df.to_csv('Odia_News_Classification.csv', index=False)